<h1 class="pl-5">Tutorial</h1>

<div class="container-fluid" style="min-height: 400px;">
  <div class="row pt-3">
    <div class="col-md-8 text-center">
      <img src="assets/images/marker.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        In the interactive Google Maps you can click on the map to move the marker. This marker is the center of the square kilometre
        area where the road surface are calculation is done. Clicking and holding onto a marker allow you to move the marker
        around the map. The marker is automatically the center of the map.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/satellite_button.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        This button change the Google Maps view type. It changes the default view type which is 'roadmap' to 'satellite'. In 'satellite'
        view type, the map shows satellite images instead of graphical images.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/map_satellite_view.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        Google Maps display the map using satellite images.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/road_style_button.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        This button style the Google Maps. Styling Google Maps allow us to manipulte the objects in the map such as labels, colours
        of roads and building, and visibility of objects. With this button, the map is styled so that only roads are shown
        more clearer than all other objects.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/map_road_style_view.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        Here is an example of a 'road only' style shown on the map. The colour of the roads are black, while everything else is grey.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/default_style_button.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        This button changes the style back from 'road only' to the default style that the map initially uses.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/calculate_button.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        This button takes the current coordinates of the marker and use it to calculate the estimated total surface area of all roads
        in the square kilometre.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/result.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        Once the result is calculated it is displayed underneath the map control buttons. The information display shows the total
        surface area and the time it took to do the calculation. The time it took to do the calculation is timed in the server,
        where it calculate the elapsed time it took to create the image URL, process the pixels, make the pixels to surface
        area calculation.
      </p>
    </div>
  </div>

  <hr>

  <div class="row pt-4">
    <div class="col-md-8 text-center">
      <img src="assets/images/coordinates_input.PNG" alt="" class="img-fluid" style="max-width: 400px; max-height: 400px;">
    </div>
    <div class="col-md-4 pr-4">
      <p>
        The input form takes numbers type input. The inputs shows the latitude and longitude coordinates of the marker on the map.
        As the marker on the map changes, so does the 
      </p>
    </div>
  </div>
</div>
