<h1 class="pl-5">About</h1>

<div class="container-fluid" style="min-height: 400px;">
    <div class="row">
        <div class="col-md-8 px-5">
            <img src="https://get.pxhere.com/photo/nature-puppy-dog-animal-male-female-portrait-mammal-education-fun-golden-retriever-vertebrate-labrador-retriever-labrador-dog-breed-wildlife-photography-retriever-obedience-dog-portrait-pet-photography-golden-retriver-comrade-nikon-d5100-dog-lady-male-dog-sigma-105mm-dog-like-mammal-puppy-love-560234.jpg" alt="" class="img-fluid">
            <!-- images here
            profile picture etc. -->
        </div>
        <div class="col-md-4">
            <div class="row">
                Created by: Thanakrit Lee
            </div>
            <div class="row">
                Project begins on Febuary 2018.
            </div>
            <div class="row">
                Project is part of the unit: Computer Science Project, FIT3036.
            </div>
            <div class="row">
                Project was done while undertaking the Bachelor of Computer Science, course code **C200**?
            </div>
            <div class="row pt-5">
                <div class="col">
                    <div class="row">
                        <a href="https://github.com/tlee38/road-surface-estimator-project-proposal">Project Proposal</a>
                    </div>
                    <div class="row">
                        <a href="https://github.com/tlee38/road-surface-estimator-test-report">Project Test Report</a>
                    </div>
                    <div class="row">
                        <a href="https://github.com/tlee38/road-surface-estimator-final-report">Project Final Report</a>
                    </div>    
                </div>
            </div>            
        </div>
    </div>
    <!-- <p>
        Created by: Thanakrit Lee.
        Project begins on 2018 Febuary.
        Project is part of the unit: Computer Science Project, FIT3036.
        Project was done while undertaking the Bachelor of Computer Science, course code **C200**?
    </p> -->

</div>