<h1 class="pl-5">About</h1>

<div class="container container-fluid" style="min-height: 400px;">

  <div class="row">

    <div class="col-md-8 pt-3 px-5 text-center">
      <img src="assets/images/author.svg" alt="" class="img-fluid author">
    </div>

    <div class="col-md-4 pt-3 px-5">

      <div class="row">
        <h4>Author</h4>
      </div>

      <div class="row">
        <p>This application was created by Thanakrit Lee.</p>
      </div>

      <div class="row pt-1">
        <h4>Project Description</h4>
      </div>

      <div class="row">
        The project for developing this application started in Febuary of 2018. It was done as part of a unit in a Bachelor of Computer
        Science degree.
      </div>

      <div class="row pt-5">

        <div class="col">
          <div class="row">
            <div class="col text-center">
              <a href="https://github.com/tlee38/road-surface-estimator-project-proposal">
                <img src="assets/images/github_mark.svg" alt="Project Proposal" style="max-width: 80px; max-height: 80px;">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>Project Proposal</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col text-center">
              <a href="https://github.com/tlee38/road-surface-estimator-test-report">
                <img src="assets/images/github_mark.svg" alt="Project Test Report" style="max-width: 80px; max-height: 80px;">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>Project Test Report</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col text-center">
              <a href="https://github.com/tlee38/road-surface-estimator-final-report">
                <img src="assets/images/github_mark.svg" alt="Project Final Report" style="max-width: 80px; max-height: 80px;">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>Project Final Report</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
