<div class="row animated fadeInDown">
  <div class="col">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue ie-nav" [containerInside]="false">
      <logo>
        <a class="logo navbar-brand" [routerLink]="['/home']">
          <strong>Road Surface Area Estimator</strong>
        </a>
      </logo>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/home']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/calculate']">Calculate Road Surface Area</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/tutorial']">Tutorial</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/tools']">Tools</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/references']">References</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <!-- <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li> -->
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" href="https://github.com/tlee38/road-surface-estimator">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </div>
</div>
