<div class="row pt-2 animated fadeInDown">
  <div class="col text-center">
    <button type="button" class="btn btn-primary wave-light" (click)="onClickMapView()" mdbRippleRadius>{{ mapViewButtonText }}</button>
    <button type="button" class="btn btn-default wave-light" (click)="onClickChangeStyle()" mdbRippleRadius *ngIf="!mapViewButtonTextBool">{{ styleButtonText }}</button>
  </div>
</div>

<hr>

<div class="row pt-2 animated fadeInDown">
  <div class="col text-center">
    <p *ngIf="calculated">The total surface area of road is {{ totalSurfaceArea }} square kilometre.</p>
    <br>
    <p *ngIf="calculated">Took {{ elapsedTime }} seconds to calculate the result in the server.</p>
    <br>
    <p *ngIf="calculated">Took {{ elapsedTimeOverall }} seconds to calculate the result in the server and send it here (server calculation time + network communication time).</p>
    <button type="button" class="btn btn-success wave-light" (click)="onClickCalculate()" mdbRippleRadius>Calculate area</button>
  </div>
</div>


<form class="pt-2">

  <div class="md-form animated fadeInDown">
    <input type="number" class="form-control" id="latInput" [(ngModel)]="latitudeMarker" name="latitudeInput" (ngModelChange)="onClickShowOnMap()" mdbActive>
    <label for="Latitude">Latitude</label>
  </div>

  <div class="md-form animated fadeInDown">
    <input type="number" class="form-control" id="lngInput" [(ngModel)]="longitudeMarker" name="longitudeInput" (ngModelChange)="onClickShowOnMap()" mdbActive>
    <label for="Longitude">Longitude</label>
  </div>
</form>
