<div class="row pt-2 animated fadeInDown">
  <div class="col text-center">
    <button type="button" class="btn btn-primary wave-light" (click)="onClickRoadMapView()" mdbRippleRadius>Road Map View</button>
    <button type="button" class="btn btn-default wave-light" (click)="onClickSatelliteView()" mdbRippleRadius>Satellite View</button>
    <button type="button" class="btn btn-secondary wave-light" (click)="onClickChangeStyle()" mdbRippleRadius>{{ styleButtonText }}</button>
  </div>
</div>

<hr>

<div class="row pt-2 animated fadeInDown">
  <div class="col text-center">
    <p *ngIf="calculated">{{ totalSurfaceArea }} Square Kilometre</p>
    <button *ngIf="!useCoordinates" type="button" class="btn btn-success wave-light" (click)="onClickCalculate()" mdbRippleRadius>Calculate area</button>
    <button type="button" class="btn btn-info wave-light" (click)="onClickUseCoordinates()" mdbRippleRadius>{{ coordinatesButtonText }}</button>
  </div>
</div>


<form class="pt-2" *ngIf="useCoordinates">

  <div class="md-form animated fadeInDown">
    <input type="number" class="form-control" id="latInput" [(ngModel)]="latitudeInput" name="latitudeInput" mdbActive>
    <label for="Latitude">Latitude</label>
  </div>

  <div class="md-form animated fadeInDown">
    <input type="number" class="form-control" id="lngInput" [(ngModel)]="longitudeInput" name="longitudeInput" mdbActive>
    <label for="Longitude">Longitude</label>
  </div>

  <button type="button" class="btn btn-secondary wave-light animated fadeInDown" (click)="onClickShowOnMap()" mdbRippleRadius>Show on map</button>
  <button type="submit" class="btn btn-success wave-light animated fadeInDown" (click)="onClickCalculate()" mdbRippleRadius>Calculate area</button>
  <button type="reset" class="btn btn-danger wave-light animated fadeInDown" (click)="onClickClearCoordinates()" mdbRippleRadius>Clear coordinates</button>

</form>
