<div class="row animated fadeInDown">
  
  <div class="col">
    <button type="button" class="btn btn-block btn-primary wave-light" mdbRippleRadius>Graphics View</button>
  </div>
  
  <div class="col">
    <button type="button" class="btn btn-block btn-default wave-light" mdbRippleRadius>Satellite View</button>
  </div>

</div>

<div class="row pt-2 animated fadeInDown">
  
  <div class="col">
    <button type="button" class="btn btn-block btn-info wave-light" mdbRippleRadius>Use Coordinates instead</button>
  </div>

  <div class="col">
    <button type="button" class="btn btn-block btn-success wave-light" mdbRippleRadius>Calculate area</button>
  
  </div>
</div>

<form class="pt-2">
  
  <div class="md-form animated fadeInDown">
    <input type="text" class="form-control" id="latInput" mdbActive>
    <label for="Latitude">Latitude</label>
  </div>
  
  <div class="md-form animated fadeInDown">
    <input type="text" class="form-control" id="lngInput" mdbActive>
    <label for="Longitude">Longitude</label>
  </div>

  <button type="button" class="btn btn-block btn-secondary wave-light animated fadeInDown" mdbRippleRadius>Show on map</button>
  <button type="submit" class="btn btn-block btn-success wave-light animated fadeInDown" mdbRippleRadius>Calculate area</button>
  <button type="reset" class="btn btn-block btn-danger wave-light animated fadeInDown" mdbRippleRadius>Clear coordinates</button>

</form>
