<div class="row animated fadeInDown">
  
  <div class="col">
    <button type="button" class="btn btn-light-blue wave-light active" mdbRippleRadius>Graphics View</button>
  </div>
  
  <div class="col">
    <button type="button" class="btn btn-light-green wave-light active" mdbRippleRadius>Satellite View</button>
  </div>

</div>

<form class="pt-2">
  
  <div class="md-form animated fadeInDown">
    <input type="text" class="form-control" mdbActive>
    <label for="Latitude">Latitude</label>
  </div>
  
  <div class="md-form animated fadeInDown">
    <input type="text" class="form-control" mdbActive>
    <label for="Longitude">Longitude</label>
  
  </div>
</form>
