<h1 class="pl-5">Tools</h1>

<div class="container-fluid" style="min-height: 400px;">

  <div class="row pt-3">
    <div class="col text-center">
      <a href="https://angular.io/">
        <img src="assets/images/angular.svg" alt="" class="img-fluid" style="max-width: 145px; max-height: 145px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://nodejs.org/en/">
        <img src="assets/images/nodejs.svg" alt="" class="img-fluid" style="max-width: 200px; max-height: 200px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://expressjs.com/">
        <img src="assets/images/express.png" alt="" class="img-fluid" style="max-width: 200px; max-height: 200px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://developers.google.com/maps/documentation/">
        <img src="assets/images/google_maps.png" alt="" class="img-fluid" style="max-width: 100px; max-height: 100px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://angular-maps.com/">
        <img src="assets/images/agm.png" alt="" class="img-fluid" style="max-width: 220px; max-height: 220px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://getbootstrap.com/">
        <img src="assets/images/bootstrap.svg" alt="" class="img-fluid" style="max-width: 100px; max-height: 100px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://mdbootstrap.com/angular/">
        <img src="assets/images/mdb.jpg" alt="" class="img-fluid" style="max-width: 200px; max-height: 200px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://sass-lang.com/">
        <img src="assets/images/sass.svg" alt="" class="img-fluid" style="max-width: 130px; max-height: 130px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://code.visualstudio.com/">
        <img src="assets/images/visual_studio_code.svg" alt="" class="img-fluid" style="max-width: 100px; max-height: 100px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://www.google.com/chrome/">
        <img src="assets/images/google_chrome.svg" alt="" class="img-fluid" style="max-width: 100px; max-height: 100px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://github.com/">
        <img src="assets/images/github.svg" alt="" class="img-fluid" style="max-width: 170px; max-height: 170px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://www.gitkraken.com/">
        <img src="assets/images/gitkraken.png" alt="" class="img-fluid" style="max-width: 200px; max-height: 200px;">
      </a>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <a href="https://dashboard.heroku.com">
        <img src="assets/images/heroku.svg" alt="" class="img-fluid" style="max-width: 200px; max-height: 200px;">
      </a>
    </div>
  </div>

</div>
