<h1 class="pl-5">Home</h1>
<div class="container-fluid" style="min-height: 400px;">
  <div class="row">
    <div class="col text-center">
      <img src="assets/logo.svg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Road Surface Area Estimator</h3>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <p>
              This application calculates an estimated total surface area of
              all roads in a selected 1 sqaure kilometre area. The application
              does this by taking an input coordinates from the user.
              This input coordinates could be provided by a click on the map
              or through latitude and longitude coordinates form input.
          </p>
      </div>
  </div>
</div>
